.body {
    font-family: 'Times New Roman', Times, serif;
    border-radius: 0.5em;
    background-color: white;
    color: black;
}

.name{
    font-size: large;
}

.itemListContainer{
    display: flex;
    flex: 3 1 0%;
    flex-direction: column;
    overflow:auto;
}
.itemListContainer > * >*{
    margin: 0.5em;
}

.totalPriceContainer{
    display: flex;
    flex: 1 1 0%;
    align-items: center;
    justify-content: center;
    padding-top: 0.5em;
   
}

.totalPriceContainer>* *{
    margin-left: 0.5em;
}

.total{
    border-radius: 0.5em;
    flex-direction: row;
    display: flex;
    padding: 1em;
    background-color: rgb(102, 227, 136);
    justify-content: center;
    align-items: center;
    
}

.main{
display: flex;
flex-direction: column;
min-width: 50rem;
min-height: 25rem;
max-height: 35rem;

}

.confirmButton:hover{
    text-decoration:underline;
}
