.filterContainer{
    background-color: white;
    padding: 0.1em;
}

.show{
 cursor: pointer;
 }
 
.priceContainer{
    margin: 0.2em;
    display: flex;
}

.priceForm{
    display: flex;
    align-items: center;
}

.minPrice{
    max-width: 4em;
    border-radius: 0.5em;
}

.maxPrice{
    max-width: 4em;
    border-radius: 0.5em;
}

.okButton{
 display: flex;
 text-transform: uppercase;
 cursor: pointer;
 margin: 0.5em;
 padding: 0.2em;
 font-size: small;
}
.okButton:hover{
    background-color:  rgb(102, 227, 136); 
}
